@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .head01 {
    font-family: "suit-bold";
    font-size: 36px;
    line-height: 52px;
  }
  .head02 {
    font-family: "suit-bold";
    font-size: 32px;
    line-height: 44px;
  }
  .head03 {
    font-family: "suit-bold";
    font-size: 24px;
    line-height: 32px;
  }
  .head04 {
    font-family: "suit-bold";
    font-size: 24px;
    line-height: 32px;
  }
  .head05 {
    font-family: "suit-bold";
    font-size: 20px;
    line-height: 28px;
  }
  .tb01 {
    font-family: "suit-bold";
    font-size: 18px;
    line-height: 24px;
  }
  .tb02 {
    font-family: "suit-bold";
    font-size: 16px;
    line-height: 20px;
  }
  .tb03 {
    font-family: "suit-bold";
    font-size: 14px;
    line-height: 16px;
  }
  .body01 {
    font-family: "suit-normal";
    font-size: 16px;
    line-height: 24px;
  }
  .body02 {
    font-family: "suit-normal";
    font-size: 16px;
    line-height: 20px;
  }
  .body03 {
    font-family: "suit-normal";
    font-size: 12px;
    line-height: 16px;
  }
  .tr01 {
    font-family: "suit-normal";
    font-size: 16px;
    line-height: 20px;
  }
  .tr02 {
    font-family: "suit-normal";
    font-size: 14px;
    line-height: 16px;
  }
  .tr03 {
    font-family: "suit-normal";
    font-size: 12px;
    line-height: 14px;
  }
  .tr04 {
    font-family: "suit-normal";
    font-size: 10px;
    line-height: 12px;
  }
}

@font-face {
  font-family: "suit-bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "suit-normal";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
